*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    background-color: rgb(14, 14, 68);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main{
    /* border: 2px solid red; */
    max-width: 700px;
    width: 90%;
}
.main h1{
    font-size: 45px;
    font-weight: 700;
    color: white;
    padding: 10px 20px;
}
.main h1 span{
    font-size: 45px;
    font-weight: 700;
    color: green;
    border-bottom: 2px solid green;

}
.input-box{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 2px solid black;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 80%;
    border-radius: 5px;
    background: white;

}
.input-box input{
    padding: 12px;
    width: 100%;
    font-size: 20px;
    border: 0;
    outline: 0;

}
.input-box img{
    height: 25px;
    cursor: pointer;
}
.btn{
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 42%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 25px;
    background-color: rgb(8, 99, 8);
    border: 0;
    outline: 0;
    padding: 13px;
    border-radius: 5px;
    cursor: pointer;
 

}
.btn img{
    height: 30px;
    padding-right: 10px;
}

.checkbox{
    padding: 10px 20px;
    color: rgb(196, 194, 194);
    font-size: 18px;
}
.checkbox div{
    margin-bottom: 0.25rem;
    font-family: Reddit Mono , sans-serif;
}
.checkbox input {
    margin-right: 0.25rem;
}
.checkbox label {
    margin-left: 0.25rem;
} 

.pass-length{
    padding: 10px 20px;
    display: flex;
    align-items: center;
     gap: 4rem;
    /* justify-content: space-between; */
    font-family: Reddit Mono , sans-serif;
}
.pass-length input{
    padding: 8px 12px;
    width: 15%;
    border: 0;
    outline: 0;
    border-radius: 3px;
}
.pass-length p{
    color: rgb(196, 194, 194);
    font-size: 16px;
}